<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->
        <ul data-smart-menu>
          <li data-ui-sref-active="active">
                <a data-ui-sref="app.dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
              <span class="menu-item-parent">DASHBOARD
            </span></a>
            </li>
            <li data-menu-collapse>
              <a href="#" title="APP">
                  <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                  <span class="menu-item-parent">PROFILE</span>
              </a>
              <ul>
                  <li data-ui-sref-active="">
                      <a data-ui-sref="app.edit-profile">
                          <i class="fa fa-gear"></i>
                          EDIT PROFILE
                      </a>
                  </li>
                  <li data-ui-sref-active="">
                    <a data-ui-sref="app.change-password">
                        <i class="fa fa-gear"></i>
                        CHANGE PASSWORD
                    </a>
                  </li>
                  <li data-ui-sref-active="" ng-if="currentUser.realm=='Superadmin'">
                    <a data-ui-sref="app.create-profile">
                        <i class="fa fa-gear"></i>
                        CREATE USER
                    </a>
                  </li>
                  <li data-ui-sref-active="" ng-if="currentUser.realm=='Superadmin'">
                    <a data-ui-sref="app.all-users">
                        <i class="fa fa-gear"></i>
                        All USERS
                    </a>
                  </li>
              </ul>
           </li>
          <li data-menu-collapse >
            <a href="#" title="APP">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">APP</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.all-models">
                        <i class="fa fa-gear"></i>
                        All APPs
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.add-model">
                      <i class="fa fa-gear"></i>
                      CREATE APP
                  </a>
                </li>
            </ul>
          </li>
          <li data-menu-collapse >
            <a href="#" title="AUTH">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">AUTH</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.auth-list">
                        <i class="fa fa-gear"></i>
                        All AUTHS
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.auth-configure">
                      <i class="fa fa-gear"></i>
                      CREATE AUTH
                  </a>
                </li>
            </ul>
          </li>
          <li data-menu-collapse >
            <a href="#" title="API">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">API</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.all-apis">
                        <i class="fa fa-gear"></i>
                        All APIs
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.add-api">
                      <i class="fa fa-gear"></i>
                      Add API
                  </a>
                </li>
            </ul>
          </li>
          <li data-menu-collapse >
            <a href="#" title="API CACHE">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">API CACHE</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.all-caches">
                        <i class="fa fa-gear"></i>
                        All CACHEs
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.add-cache">
                      <i class="fa fa-gear"></i>
                      Add CACHE
                  </a>
                </li>
            </ul>
          </li>
          <li data-menu-collapse >
            <a href="#" title="API RESPONSE TIME">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">API RESPONSE TIME</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.all-responsetimes">
                        <i class="fa fa-gear"></i>
                        All RESPONSETIMEs
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.add-responsetime">
                      <i class="fa fa-gear"></i>
                      Add RESPONSETIME
                  </a>
                </li>
            </ul>
          </li>
          <li data-menu-collapse >
            <a href="#" title="API RATELIMITER">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                <span class="menu-item-parent">API RATELIMITER</span>
            </a>
            <ul>
                <li data-ui-sref-active="">
                    <a data-ui-sref="app.all-ratelimiters">
                        <i class="fa fa-gear"></i>
                        All RATELIMITERs
                    </a>
                </li>
                <li data-ui-sref-active="">
                  <a data-ui-sref="app.add-ratelimiter">
                      <i class="fa fa-gear"></i>
                      Add RATELIMITER
                  </a>
                </li>
            </ul>
          </li>
          <li data-ui-sref-active="active" >
            <a data-ui-sref="app.rest-client">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                 <span class="menu-item-parent">TEST API
            </span>            </a>
          </li>
          <li data-ui-sref-active="active" >
            <a href="/download">
                <i class="fa fa-lg fa-fw fa-download"></i>
                <span class="menu-item-parent">DOCUMENT
            </span>            </a>
          </li>
        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
