<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="normal-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>All CACHES</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="table-responsive">
                                <div class="form-group clearfix">
                                    <div class="col-md-3 pull-right">
                                        <div class="icon-addon addon-sm">
                                            <input type="text" placeholder="Search" class="form-control" ng-model="searchString" ng-change="search(searchString);">
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-left">
                                        <div class="icon-addon addon-sm">
                                              <button type="button"  data-ui-sref="app.add-cache" class='btn btn-primary'>Add Cache</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Api Name</th>
                                            <th>Duration</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in datas | limitTo : itemsPerPage : begin">
                                            <td>{{data.api.name}}</td>
                                            <td>{{data.duration}} Secs</td>
                                            <td><button type="button" ng-click="Status_Update(data.flag,data.id)" class='{{(data.flag==1)?"btn btn-success":"btn btn-danger"}}'>{{(data.flag==1)?"Enable":"Disable"}}</button></td>
                                            <td>
                                                <button type="button" class="btn btn-circle btn-primary" data-ui-sref="app.edit-cache({ id: data.id })">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-circle btn-danger" ng-click="Delete_Cache(data.id)">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="datas.lrngth == 0">
                                            <td colspan="4" class="text-center">No Data found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination
                                    big-total-items = "bigTotalItems"
                                    items-per-page = "itemsPerPage"
                                    big-current-page = "bigCurrentPage"
                                    max-size = "maxSize"
                                    begin = "begin"
                                ></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
