<style>
.floating-box {
  background-color:#21c2d9;width:31%;height:182px;border-radius: 15px;
}
.display-postion{
    text-align:center;
    padding: 30px;
}
</style>
<div id="content">
  <!--<div class="row">
      <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                       class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
      <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>-->


  <!-- widget grid -->
  <section id="widget-grid" widget-grid>

  <!-- row -->
  <div class="row">

  <!-- NEW WIDGET START -->
  <article class="col-sm-12 col-md-12 col-lg-12">

  <!-- Widget ID (each widget will need unique ID)-->
  <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
  <!-- widget options:
  usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
      <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
      <h2>Analytics data</h2>
  </header>

  <!-- widget div-->
  <div>
  <!-- widget content -->
  <div class="widget-body">
    <div jarvis-widget id="sales-chart-widget" data-widget-editbutton="false">
          <header>
              <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
              <button class="btn btn-primary btn-sm pull-right" type="button"><b>App Counter</b></button>
              <button class="btn btn-primary btn-sm pull-right" type="button" style="margin-right:10px;"><b>  Api Counter</b></button>
              <h2>Analytics Chart</h2>
              <div class="col-md-2">
                <select
                    class="form-control input-sm"
                    id="usergroup"
                    ng-change="groupchange()"
                    ng-model="selectedgroup"
                    ng-options="model as model.group_name for model in models | groupByINT:'group_name'"></select>
              </div>
          </header>
          <div>
              <div class="widget-body no-padding">
                  
                  <flot-sales-chart data="salesChartData"></flot-sales-chart>
              </div>
          </div>
     </div>
   <div class="pull-right floating-box">
     <div class="display-postion">
      <div>
      <div style="float:left">
       <div id="liveclock" class="outer_face">
         <div class="marker oneseven"></div>
         <div class="marker twoeight"></div>
         <div class="marker fourten"></div>
         <div class="marker fiveeleven"></div>

         <div class="inner_face">
         <div class="hand hour"></div>
         <div class="hand minute"></div>
         <div class="hand second"></div>
         </div>
       </div>
      </div>
      <div>
        <script>
        var monthNames = ["January", "February", "March", "April", "May", "June",
                          "July", "August", "September", "October", "November", "December"
                          ];
            var date= new Date();
            var day= date.getDate();
            var month= date.getMonth();
            var year= date.getFullYear();
            var todays_date=day+" "+monthNames[month]+" "+year;
            document.getElementById("todays_date").innerHTML=todays_date;
        </script>
        <a href="#" class="btn-default btn-info btn-lg">
          <span id="todays_date" class="glyphicon glyphicon-calendar"></span>
        </a>
      </div>
       <script type="text/javascript">
       function updateclock(){var e=new Date,t=(e.getHours()+e.getMinutes()/60)/12*360,n=e.getMinutes()/60*360,i=(e.getSeconds()+e.getMilliseconds()/1e3)/60*360;$hands.filter(".hour").css({transform:"rotate("+t+"deg)"}),$hands.filter(".minute").css({transform:"rotate("+n+"deg)"}),$hands.filter(".second").css({transform:"rotate("+i+"deg)"}),requestAnimationFrame(updateclock)}var $hands=$("#liveclock div.hand");window.requestAnimationFrame=window.requestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||window.msRequestAnimationFrame||function(e){setTimeout(e,60)},requestAnimationFrame(updateclock);
       </script>
    </div>
    </div>
   </div>
   <div class="pull-left floating-box">
     <div class="display-postion">
        <h1>Active Sessions</h1>
         <b style="font-size:90px">{{activeSessions}}</b>
    </div>
   </div>
   <div class="pull-right floating-box" style="margin-right:3%">
     <div class="display-postion">
      <h1>Active Apps</h1>
      <b style="font-size:90px">{{activeapps}}</b>
      </div>
   </div>
   <!-- <div class="floating-box">

   </div>
   <div class="floating-box">Floating box</div>
  </div> -->
  </div>
  <!-- end widget content -->

  </div>
  <!-- end widget div -->

  </div>
  <!-- end widget -->



  </article>
  <!-- WIDGET END -->

  <!-- NEW WIDGET START -->

  <!-- WIDGET END -->

  </div>

  <!-- end row -->

  <!-- row -->



  </section>

  <!-- end widget grid -->


  </div>
