<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">

body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
img{ border:none;}
p{ margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;}
.mainTable{ padding:0 30px;}
.topBorder{ border-top:5px solid #dd2524;}
.topPad{ padding-top:26px; padding-bottom:20px;}
.comnPad{ padding:14px 0;}
.bgBoxx{ background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;}
.link{ color:#003971; text-decoration:underline; font-size:14px;}
h3{ font-size:18px; color:#282828; font-weight:normal; margin:0; padding:0;}
span{ font-size:14px; color:#282828;}
.regard p{ color:#282828;}

</style>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;">


        <table width="100%" align="center" cellpadding="0" cellspacing="0" class="topBorder" style="border-top:5px solid #dd2524;">
            <tr>
            	<td class="mainTable" style="padding:0 30px;">

                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                            <td align="left" valign="bottom" class="topPad" style="padding-top:26px; padding-bottom:20px;">
                                <a href="#"><img src="http://bugzilla.konvergence.it/apiexposer/styles/img/logo.jpg" /></a>
                            </td>
                            <!-- <td align="right" valign="bottom" class="topPad" style="padding-top:26px; padding-bottom:20px;">
                                <a href="#"><img src="http://bugzilla.konvergence.it/apiexposer/styles/img/logoRight.jpg" /></a>
                            </td> -->
                        </tr>

                        <tr>
                        	<td colspan="2" align="left" class="comnPad" style="padding:14px 0 ">
                            	<span style="font-size:14px; color:#282828;">Hi, <%= name %></span>
                            </td>
                        </tr>

                        <tr>
                        	<td colspan="2" class="comnPad" style="padding:14px 0;">
                            	<p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;"><%= reminder %>Your expired date for accessing the dashboard is <strong><%= validity_to %></strong></p>
                            </td>
                        </tr>

                        <tr>
                        	<td colspan="2" class="comnPad regard" style="padding:14px 0;color:#282828;">
                            	<p>With Best Regards,</p>
                                <p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">Konvergence Team</p>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>
        </table>



</body>
</html>
