<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">

body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
img{ border:none;}
p{ margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;}
.mainTable{ padding:0 30px;}
.topBorder{ border-top:5px solid #dd2524;}
.topPad{ padding-top:26px; padding-bottom:20px;}
.comnPad{ padding:14px 0;}
.bgBoxx{ background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;}
.link{ color:#003971; text-decoration:underline; font-size:14px;}
h3{ font-size:18px; color:#282828; font-weight:normal; margin:0; padding:0;}
span{ font-size:14px; color:#282828;}

</style>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;">


        <table width="100%" align="center" cellpadding="0" cellspacing="0" class="topBorder" style="border-top:5px solid #dd2524;">
            <tr>
            	<td class="mainTable" style="padding:0 30px;">

                    <table width="100%" cellpadding="0" cellspacing="0">
                    	<tr>
                            <td align="left" valign="bottom" class="topPad" style="padding-top:26px; padding-bottom:20px;">
                                <a href="#"><img src="http://bugzilla.konvergence.it/apiexposer/styles/img/logo.jpg" /></a>
                            </td>
                            <!-- <td align="right" valign="bottom" class="topPad" style="padding-top:26px; padding-bottom:20px;">
                                <a href="#"><img src="http://bugzilla.konvergence.it/apiexposer/styles/img/logoRight.jpg" /></a>
                            </td> -->
                        </tr>

                        <tr>
                        	<td colspan="2" align="left" class="comnPad" style="padding:14px 0 ">
                            	<span style="font-size:14px; color:#282828;">Hi, <%= name %></span>
                            </td>
                        </tr>

                        <tr>
                        	<td colspan="2" class="comnPad" style="padding:14px 0 14px 10px;">
                            	<h3 style="font-size:18px; color:#282828; font-weight:normal; margin:0; padding:0;">Your account is now Updated.</h3>
								<!--<p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">You are now able to map your Api with Loop Back Server. </p>-->
                            </td>
                        </tr>

                        <tr>
                        	<td colspan="2" class="comnPad bgBoxx" style="background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;padding:14px 0 14px 10px;">
                            	<p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">This is the link: <a href="#" class="link" style="color:#003971; text-decoration:underline; font-size:14px;">www.example.com. </a></p>
                            </td>
                        </tr>

                        <tr>
                        	<td colspan="2" class="comnPad" style="padding:14px 0 14px 10px;">
                            	<p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">You have access to the following features of Loop Back Server <% if (cache == true) { %><b>Cache</b>,<% } %> <% if (ratelimiter == true) { %><b>Rate-limiter</b>,<% } %> <% if (responsetime == true) { %><b>Response-time</b><% } %>.
                                Your access to create apps <b><%= (changes.apps)?changes.apps+' apps':' same' %></b>.
                                Your validity days for accessing the dashboard is <b><%= (changes.validity)?changes.validity+' days':' same' %></b>.
                                Your expire date for accessing the dashboard is <b><%= validity_to %></b>.</p>
                            </td>
                        </tr>

                        <!--<tr>
                        	<td class="comnPad bgBoxx" style="background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;padding:14px 0 14px 10px;"><p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">Email</p></td>
                            <td class="comnPad bgBoxx" style="background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;padding:14px 0 14px 10px;"><a href="#" class="link" style="color:#003971; text-decoration:underline; font-size:14px;"><%= email %></a></td>
                        </tr>-->

                        <!--<tr>
                        	<td class="comnPad bgBoxx" style="background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;padding:14px 0 14px 10px;"><p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">Password</p></td>
                            <td class="comnPad bgBoxx" style="background:#f3f8fe; border:1px solid #cfddea; border-collapse:collapse; padding-left:10px; padding-right:10px;padding:14px 0 14px 10px;"><a href="#" class="link" style="color:#003971; text-decoration:underline; font-size:14px;">12345</a></td>
                        </tr>-->

                        <tr>
                        	<td colspan="2" class="comnPad" style="padding:14px 0 14px 10px;">
                            	<p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">With Best Regards,</p>
                                <p style="margin:0; padding:0; color:#6d6d6d; font-size:14px; line-height:150%;">Konvergence Team</p>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>
        </table>



</body>
</html>
