<div id="content">
  <!--<div class="row">
      <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                       class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
      <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>-->


  <!-- widget grid -->
  <section id="widget-grid" widget-grid>

  <!-- row -->
  <div class="row">

  <!-- NEW WIDGET START -->
  <article class="col-sm-12 col-md-12 col-lg-12">

  <!-- Widget ID (each widget will need unique ID)-->
  <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
  <!-- widget options:
  usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
      <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
      <h2>{{action}} APP form</h2>
  </header>

  <!-- widget div-->
  <div>

  <!-- widget content -->
  <div class="widget-body">
  <form class="form-horizontal" ng-submit="submitForm()">

  <fieldset>
      <div class="form-group">
          <label class="col-md-2 control-label">Name <span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="name" type="text" ng-model="model.name" ng-trim="false"   pattern='[A-Za-z\\s1-9]*' class="form-control" placeholder="String and Integer without space" required >
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{erroricon}}"></i>&nbsp;{{error}}</span>
         </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Group name<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="group_name" type="text" ng-model="model.group_name" ng-change="model.group_name=model.group_name.toUpperCase();" class="form-control" pattern='[A-Za-z\\s1-9]*' placeholder="String" required>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Description </label>
          <div class="col-md-5">
              <textarea class="form-control" placeholder="Description" rows="4" name="description" ng-model="model.description"></textarea>
          </div>
      </div>
      <div class="form-actions">
          <div class="row">
              <div class="col-md-12">
                <a data-ui-sref="app.all-models">
                  <button class="btn btn-default" type="submit">
                      Cancel
                  </button>
                </a>
                  <button class="btn btn-primary" type="submit">
                      <i class="fa fa-save"></i>
                      {{action}}
                  </button>
              </div>
          </div>
      </div>

  </fieldset>

  </form>

  </div>
  <!-- end widget content -->

  </div>
  <!-- end widget div -->

  </div>
  <!-- end widget -->



  </article>
  <!-- WIDGET END -->

  <!-- NEW WIDGET START -->

  <!-- WIDGET END -->

  </div>

  <!-- end row -->

  <!-- row -->



  </section>

  <!-- end widget grid -->


  </div>
