<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Loopback Angular Admin</title>

    <!-- <link href="css/style.css" rel="stylesheet"> -->


    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-skins.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-angular.css">

		<!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-rtl.min.css">

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/demo.min.css">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="styles/img/favicon/favicon.ico" type="image/x-icon">

    <!-- CSS for json editot-->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/jsoneditor.min.css">
		<!-- #GOOGLE FONT -->
	<!-- 	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> -->

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
		Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="styles/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="styles/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="styles/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="styles/img/splash/touch-icon-ipad-retina.png">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/iphone.png" media="screen and (max-device-width: 320px)">




  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center animated fadeInDown well">
          <h1 class="logo-name"><img style="width:50%" alt="SmartAdmin" src="styles/img/logo.png"></h1>
          <% if (typeof content !== 'undefined') { %>
            <p><%= content %></p>
          <% } %>
           <a href="<%= redirectTo %>"><%= redirectToLinkText %></a>
        </div>
      </div>
    </div>
  </body>
</html>
