<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Simple Application using LoopBack and Angular Js</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Admin panel</h1>
      <h2 ng-show="currentUser">Hello {{currentUser.email}}</h2>
      <nav>
        <ul>
          <li ng-show="currentUser">
            <a ui-sref="add-model" ui-sref-active="active">Create Model</a>
          </li>
		      <li ng-show="currentUser">
            <a ui-sref="all-models" ui-sref-active="active">All Models</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="sign-up" ui-sref-active="active">Sign up</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="all-apis" ui-sref-active="active">All Apis</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="add-api" ui-sref-active="active">Add Apis</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="add-cache" ui-sref-active="active">Add Cache</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="all-caches" ui-sref-active="active">All Cache</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="add-responsetime" ui-sref-active="active">Add Response Time</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="all-responsetimes" ui-sref-active="active">All Response Time</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="add-ratelimiter" ui-sref-active="active">Add Ratelimiter</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="all-ratelimiters" ui-sref-active="active">All Ratelimiters</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="auth-configure" ui-sref-active="active">Auth Configure</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="login" ui-sref-active="active">Log in</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="logout" ui-sref-active="active">Log out</a>
          </li>
        </ul>
      </nav>
    </header>

    <main ui-view></main>

    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-resource.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
    <script src="vendor/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/lb-services.js"></script>
    <script src="js/controllers/auth.js"></script>
    <script src="js/controllers/review.js"></script>
    <script src="js/services/auth.js"></script>


  </body>
</html>
