<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Loopback Angular Admin</title>

    <!-- <link href="css/style.css" rel="stylesheet"> -->


    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-skins.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-angular.css">

		<!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-rtl.min.css">

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/demo.min.css">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="styles/img/favicon/favicon.ico" type="image/x-icon">

    <!-- CSS for json editot-->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/jsoneditor.min.css">
		<!-- #GOOGLE FONT -->
	<!-- 	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> -->

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
		Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="styles/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="styles/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="styles/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="styles/img/splash/touch-icon-ipad-retina.png">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/iphone.png" media="screen and (max-device-width: 320px)">




  </head>
  <body ng-app = "app">
    <!-- <header>
      <h1>Admin panel</h1>
      <h2 ng-show="currentUser">Hello {{currentUser.email}}</h2>
      <nav>
        <ul>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">App</a>
            <div class="dropdown-content">
              <a ui-sref="add-model" ui-sref-active="active">Create App</a>
              <a ui-sref="all-models" ui-sref-active="active">All Apps</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">Api</a>
            <div class="dropdown-content">
              <a ui-sref="add-api" ui-sref-active="active">Add Api</a>
              <a ui-sref="all-apis" ui-sref-active="active">All Apis</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">Cache</a>
            <div class="dropdown-content">
              <a ui-sref="add-cache" ui-sref-active="active">Add Cache</a>
              <a ui-sref="all-caches" ui-sref-active="active">All Cache</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">Api Response Time</a>
            <div class="dropdown-content">
              <a ui-sref="add-responsetime" ui-sref-active="active">Add Response Time</a>
              <a ui-sref="all-responsetimes" ui-sref-active="active">All Response Time</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">Api Ratelimiter</a>
            <div class="dropdown-content">
              <a ui-sref="add-ratelimiter" ui-sref-active="active">Add Ratelimiter</a>
              <a ui-sref="all-ratelimiters" ui-sref-active="active">All Ratelimiters</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="#" class="dropbtn">Auth Configure</a>
            <div class="dropdown-content">
              <a ui-sref="auth-configure" ui-sref-active="active">Add Auth</a>
              <a ui-sref="auth-list" ui-sref-active="active">Auth List</a>
            </div>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="/download" class="dropbtn" class="btn btn-primary" >Download</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="sign-up" ui-sref-active="active">Sign up</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="login" ui-sref-active="active">Log in</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="logout" ui-sref-active="active" class="dropbtn">Log out</a>
          </li>
        </ul>
      </nav>
    </header>

    <main ui-view></main> -->
    <div data-ui-view="root"  data-autoscroll="false"></div>

    <script src="vendor/jquery-3.0.0.min.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="vendor/angular-resource.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
    <script src="vendor/angular-cookies.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/app.config.js"></script>
    <script src="vendor/jsoneditor.js"></script>
    <script src="vendor/ng-jsoneditor.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/lb-services.js"></script>
    <script src="js/controllers/auth.js"></script>
    <script src="js/controllers/ModalInstanceCtrl.js"></script>
    <script src="js/directives/pagination.js"></script>
    <script src="js/services/auth.js"></script>

    <script src="js/modules/PROFILE/PROFILE.module.js"></script>
    <script src="js/modules/PROFILE/PROFILE.controller.js"></script>
    <script src="js/modules/API/API.module.js"></script>
    <script src="js/modules/API/API.controller.js"></script>
    <script src="js/modules/MODEL/MODEL.module.js"></script>
    <script src="js/modules/MODEL/MODEL.controller.js"></script>
    <script src="js/modules/CACHE/CACHE.module.js"></script>
    <script src="js/modules/CACHE/CACHE.controller.js"></script>
    <script src="js/modules/RATELIMITER/RATELIMITER.module.js"></script>
    <script src="js/modules/RATELIMITER/RATELIMITER.controller.js"></script>
    <script src="js/modules/RESPONSETIME/RESPONSETIME.module.js"></script>
    <script src="js/modules/RESPONSETIME/RESPONSETIME.controller.js"></script>
    <script src="js/modules/AUTH/AUTH.module.js"></script>
    <script src="js/modules/AUTH/AUTH.controller.js"></script>
    <script src="js/modules/RESTCLIENT/RESTCLIENT.module.js"></script>
    <script src="js/modules/RESTCLIENT/RESTCLIENT.controller.js"></script>


    <script src="app/_common/layout/module.js"></script>
    <script src="app/_common/layout/actions/fullScreen.js"></script>
    <script src="app/_common/layout/actions/minifyMenu.js"></script>
    <script src="app/_common/layout/actions/reloadState.js"></script>
    <script src="app/_common/layout/actions/resetWidgets.js"></script>
    <script src="app/_common/layout/actions/searchMobile.js"></script>
    <script src="app/_common/layout/actions/toggleMenu.js"></script>
    <script src="app/_common/layout/directives/demo/demoStates.js"></script>
    <script src="app/_common/layout/directives/navigation/smartMenu.js"></script>
    <script src="app/_common/layout/directives/navigation/smartMenuItems.js"></script>
    <script src="app/_common/layout/directives/widgets/jarvisWidget.js"></script>
    <script src="app/_common/layout/directives/widgets/widgetGrid.js"></script>
    <script src="app/_common/layout/directives/bigBreadcrumbs.js"></script>
    <script src="app/_common/layout/directives/dismisser.js"></script>
    <script src="app/_common/layout/directives/hrefVoid.js"></script>
    <script src="app/_common/layout/directives/radioToggle.js"></script>
    <script src="app/_common/layout/directives/smartDeviceDetect.js"></script>
    <script src="app/_common/layout/directives/smartFastClick.js"></script>
    <script src="app/_common/layout/directives/smartFitAppView.js"></script>
    <script src="app/_common/layout/directives/smartInclude.js"></script>
    <script src="app/_common/layout/directives/smartLayout.js"></script>
    <script src="app/_common/layout/directives/smartPageTitle.js"></script>
    <script src="app/_common/layout/directives/smartRouterAnimationWrap.js"></script>
    <script src="app/_common/layout/directives/smartSpeech.js"></script>
    <script src="app/_common/layout/directives/stateBreadcrumbs.js"></script>
    <script src="app/_common/layout/service/lazyScript.js"></script>
    <script src="app/_common/layout/service/SmartCss.js"></script>

    <script src="app/_common/ui/module.js"></script>
    <script src="app/_common/ui/directives/smartPopoverHtml.js"></script>
    <script src="app/_common/ui/directives/smartTooltipHtml.js"></script>





  </body>
</html>
