<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center animated fadeInDown well">
            <div>
                <h1 class="logo-name"><img style="width:50%" alt="SmartAdmin" src="styles/img/logo.png"></h1>
              </div>
              <h3>Welcome to API Exposure</h3>

              <!-- <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
              </p> -->

              <!-- <p>Login in. To see it in action.</p> -->

              <form class="m-t" role="form"  name="form" ng-submit="login()">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" required=""  ng-model="user.email">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block m-b">Login</button>
                  <div class="form-group">
                    <div class="col">
                      <span class="help-block"><i class="{{erroricon}}"></i>&nbsp;{{error}}</span>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <div class="col-md-5 pull-left">
                      <a class="btn-white btn-block" ng-click="showDiv = !showDiv">Forgot Password</a>
                    </div>
                    <div class="col-md-5 pull-right">
                      <a class="btn-white btn-block" ui-sref="login">Login as Admin</a>
                    </div>
                  </div>
                  <!--<p class="text-muted text-center">
                      <small>Do not have an account?</small>
                  </p>
                  <a class="btn btn-sm btn-white btn-block" ui-sref="sign-up">Create an account</a>-->
              </form>
              <div ng-show="showDiv">
                <form class="m-t" role="form"  name="form" ng-submit="resetpassword()">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required=""  ng-model="guest.email">
                        <!-- <div class="col"> -->
                          <span class="help-block"><i class="{{errorPassicon}}"></i>&nbsp;{{errorForpass}}</span>
                        <!-- </div> -->
                    </div>
                        <button type="submit" class="btn btn-primary pull-left m-b">Reset Password</button>
                    <br/>
                </form>
            </div>
          </div>
      </div>
  </div>
