<section>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} Comment form</legend>

      <div class="form-group">
        <label>Select Review</label>
        <select
            ng-disabled="isDisabled"
            ng-model="selectedReview"
            ng-options="review as review.comments for review in reviews"></select>
      </div>
      {{selectedReview}}
      <div class="form-group">
        <label>Comments</label>
        <textarea ng-model="review.comments"></textarea>
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} review</button>
      </div>
    </fieldset>
  </form>
<section>
