<div class="modal-header">
      <a  class="glyphicon glyphicon-remove pull-right col col-1 cursor" ng-click="cancel()"></a>
      <h3 class="modal-title col col-11">Confirmation</h3>
</div>
<div class="modal-body">
    <div class="widget-body">
        <form>
            <fieldset>
                <div class="form-group col-md-12">
                    {{message}}
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
