<div class="container">
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center animated fadeInDown">
              <div>
                  <h1 class="logo-name">Kwallet</h1>
              </div>
              <h3>Welcome to Kwallet</h3>

              <!-- <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
              </p> -->

              <!-- <p>Login in. To see it in action.</p> -->

              <form class="m-t" role="form"  name="form" ng-submit="register()">
                  <div class="form-group">
                      <input name="name" type="text" ng-model="user.name" class="form-control" placeholder="Name" required="">
                  </div>
                  <div class="form-group">
                      <input name="username" type="text" ng-model="user.username" class="form-control" placeholder="Username" required="">
                  </div>
                  <div class="form-group">
                      <input name="description" type="text" ng-model="user.description" class="form-control" placeholder="Description" required="">
                  </div>
                  <div class="form-group">
                      <input name="email" type="email" class="form-control" placeholder="Email" required=""  ng-model="user.email">
                  </div>
                  <div class="form-group">
                      <input name="password" type="password" ng-model="user.password" class="form-control" placeholder="Password" required="">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block m-b">Sign Up</button>

                  <p class="text-muted text-center">
                      <small>back to login?</small>
                  </p>
                  <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>

                  <br/>
              </form>
              <p class="m-t">
                  <small>My Orange app framework base on Bootstrap 3 © 2014</small>
              </p>
          </div>
      </div>
</div>
