<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>-->


    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

    <!-- row -->
    <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">

    <!-- Widget ID (each widget will need unique ID)-->
    <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>{{action}} API Response Form</h2>
    </header>

    <!-- widget div-->
    <div>

    <!-- widget content -->
    <div class="widget-body">
    <form class="form-horizontal" ng-submit="submitForm()">

    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2">Url</label>
            <div class="col-md-5">
              <input name="url" type="text" ng-model="restclient.url" class="form-control input-xs">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Method</label>
            <div class="col-md-2">
                <select class="form-control input-sm" ng-model="restclient.method" ng-change='update_method()'>
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="DELETE">DELETE</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Header</label>
            <div class="col-md-5">
              <em class="fa fa-lg fa-plus-square-o" ng-click="addHeaderChoice()" style="cursor:pointer"></em>
            </div>
        </div>
        <div>
            <div data-ng-repeat="choice in headerchoices" class="form-group">
              <label class="control-label col-md-2">&nbsp;</label>
              <div class="col-md-5" >
                <input type="text" ng-model="choice.header_param" placeholder="Enter parameter">&nbsp;:&nbsp;
                <input type="text" ng-model="choice.value"  placeholder="Enter value">
                <em ng-show="$last" class="fa fa-lg fa-minus-square-o" ng-click="removeHeaderChoice()" style="cursor:pointer"></em>
              </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Body</label>
            <div class="col-md-5">
              <em class="fa fa-lg fa-plus-square-o" ng-click="addBodyChoice()" ng-model='body' ng-disabled='false' style="cursor:pointer"> </em>
            </div>
        </div>
        <div>
            <div data-ng-repeat="choice in bodychoices" class="form-group">
              <label class="control-label col-md-2">&nbsp;</label>
              <div class="col-md-5" >
                <input type="text" ng-model="choice.body_param" name="" placeholder="Enter parameter">&nbsp;:&nbsp;
                <input type="text" ng-model="choice.value" name="" placeholder="Enter value">
                <em ng-show="$last"  class="fa fa-lg fa-minus-square-o" ng-click="removeBodyChoice()" style="cursor:pointer"></em>
              </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-send"></i>
                        Send
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="collumn" >
              <div id="tabs-pills-widget-widget" data-widget-colorbutton="false"
                   data-widget-editbutton="false" data-widget-togglebutton="false"
                   data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false" data-jarvis-widget ng-init="demoShowTabs = true">
                  <!-- widget options:
                      usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
                      data-widget-colorbutton="false"
                      data-widget-editbutton="false"
                      data-widget-togglebutton="false"
                      data-widget-deletebutton="false"
                      data-widget-fullscreenbutton="false"
                      data-widget-custombutton="false"
                      data-widget-collapsed="true"
                      data-widget-sortable="false"
                  -->
                  <header>
                      <ul id="widget-tab-1" class="nav pull-left" ng-class="{'nav-tabs' : !!demoShowTabs, 'nav-pills': !demoShowTabs }">
                          <li ng-repeat="tab in tabs"
                              ng-class="{active:isActiveTab(tab.url)}"
                              ng-click="onClickTab(tab)">
                              <a data-toggle="tab"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> {{tab.title}} </span> </a>
                          </li>
                      </ul>
                      <div class="nav pull-right">
                        {{restclient.response.status}}
                      </div>
                  </header>
                  <!-- widget div-->
                  <div>
                      <!-- widget content -->
                      <div class="widget-body no-padding">
                          <!-- widget body text-->
                          <div class="tab-content padding-10">
                              <script type="text/ng-template" id="one.tpl.html">
                                <div id="viewOne">
                                  <div ng-jsoneditor="onLoad" configuration="config" class="col-md-12" ng-model="restclient.response.headers" options="obj.options" ></div>
                                </div>
                             </script>
                             <script type="text/ng-template" id="two.tpl.html">
                               <div id="viewTwo">
                                 <div ng-jsoneditor="onLoad" configuration="config" class="col-md-12" ng-model="restclient.response.body" options="obj.options" ></div>
                               </div>
                            </script>
                            <div id="mainView">
                                <div ng-include="currentTab"></div>
                            </div>
                        </div>
                          <!-- end widget body text-->
                    </div>
                      <!-- end widget content -->
                  </div>
                  <!-- end widget div -->
              </div>
          </div>
        </div>
    </fieldset>

    </form>

    </div>
    <!-- end widget content -->

    </div>
    <!-- end widget div -->

    </div>
    <!-- end widget -->



    </article>
    <!-- WIDGET END -->

    <!-- NEW WIDGET START -->

    <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- row -->



    </section>

    <!-- end widget grid -->


    </div>
