<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="normal-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>All USERS</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="table-responsive">
                                <div class="form-group clearfix">
                                    <div class="col-md-3 pull-right">
                                        <div class="icon-addon addon-sm">
                                            <input type="text" placeholder="Search" class="form-control" ng-model="searchString" ng-change="search(searchString);">
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-left">
                                        <div class="icon-addon addon-sm">
                                              <button type="button"  data-ui-sref="app.create-profile" class='btn btn-primary'>Create User</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Email</th>
                                            <th>Remaining Days</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in datas | limitTo : itemsPerPage : begin">
                                            <td>{{data.name}}</td>
                                            <td>{{data.description==''?'No Description':data.description}}</td>
                                            <td>{{data.email}} </td>
                                          <td>{{Days_remaining(data.validity_to)}}</td>
                                            <td><button type="button" ng-click="Status_Update(data.status,data.id)" class='{{(data.status==1)?"btn btn-success":"btn btn-danger"}}'>{{(data.status==1)?"Enable":"Disable"}}</button></td>

                                            <td>
                                                <button type="button" class="btn btn-circle btn-primary" data-ui-sref="app.edit-user({id: data.id})" title="Edit User">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-circle btn-danger" ng-click="Delete_User(data.id)" title="Delete User">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>
                                                <button type="button" class="btn btn-circle btn-info btn-sm" ng-click="reminder_mail(data.id)" title="Reminder Mail">
                                                  <i class="glyphicon glyphicon-envelope"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="datas.lrngth == 0">
                                            <td colspan="4" class="text-center">No Data found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination
                                    big-total-items = "bigTotalItems"
                                    items-per-page = "itemsPerPage"
                                    big-current-page = "bigCurrentPage"
                                    max-size = "maxSize"
                                    begin = "begin"
                                ></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
