<div id="content">
  <!--<div class="row">
      <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                       class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
      <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>-->


  <!-- widget grid -->
  <section id="widget-grid" widget-grid>

  <!-- row -->
  <div class="row">

  <!-- NEW WIDGET START -->
  <article class="col-sm-12 col-md-12 col-lg-12">

  <!-- Widget ID (each widget will need unique ID)-->
  <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
  <!-- widget options:
  usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
      <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
      <h2>Create User form</h2>
  </header>

  <!-- widget div-->
  <div>

  <!-- widget content -->
  <div class="widget-body">
  <form class="form-horizontal" ng-submit="submitForm(userform)" name="userform">
  <fieldset>
      <div class="form-group">
          <label class="col-md-2 control-label">Name <span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="name" type="text" ng-model="client.name" ng-trim="false" ng-change="client.name = client.name.split(' ').join('')" class="form-control" placeholder="Name" required="">
          </div>

      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Description </label>
          <div class="col-md-5">
                <textarea class="form-control" placeholder="Description" rows="4" name="description" ng-model="client.description"></textarea>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Email<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="email" type="email" ng-disabled='emailDisable' class="form-control" placeholder="Email" required=""  ng-model="client.email">
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{emailerroricon}}"></i>&nbsp;{{emailerror}}</span>
         </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Password<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="password" ng-disabled='passDisable',type="password" ng-model="client.password" ng-change="client.password = client.password.split(' ').join('')"  class="form-control" placeholder="Password" required="">
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Set Timeout<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="time" type="number" ng-model="client.timeout" min="1000" max="20000" class="form-control" placeholder="Seconds" required="">
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{timerroricon}}"></i>&nbsp;{{timerror}}</span>
         </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Apps number<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="apps" type="number" ng-model="client.apps" class="form-control" min="1" max="50" placeholder="Numbers" required="">
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{apperroricon}}"></i>&nbsp;{{apperror}}</span>
         </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Validity period<span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="validity" type="number" ng-model="client.validity" class="form-control"  min="1" max="2000" placeholder="Days" required="">
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{perioderroricon}}"></i>&nbsp;{{perioderror}}</span>
         </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Access level</label>
          <div class="col-md-5">
            <div class="row-md-5">
            <label class="checkbox"><input type="checkbox"  name="cache" ng-model="client.cache"><i></i>Api Cache</label>
            </div>
            <div class="row-md-5">
            <label class="checkbox"><input type="checkbox"  name="ratelimiter" ng-model="client.ratelimiter"><i></i>Api Ratelimiter</label>
            </div>
            <div class="row-md-5">
            <label class="checkbox"><input type="checkbox"  name="responsetime" ng-model="client.responsetime"><i></i>Api Responsetime</label>
            </div>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-2">Status<span class="text-danger">*</span></label>
          <div class="col-md-2">
              <select class="form-control input-sm" ng-model="client.status" name="status" required>
                <option value="">--Select--</option>
                <option value="1" ng-selected="selected">Enable</option>
                <option value="0">Disable</option>
              </select>
          </div>

      </div>
      <div class="form-actions">
          <div class="row">
              <div class="col-md-12">
                <a data-ui-sref="app.all-users">
                  <button class="btn btn-default" type="submit">
                      Cancel
                  </button>
                </a>
                  <button class="btn btn-primary" type="submit">
                      <i class="fa fa-save"></i>
                      {{action}}
                  </button>
              </div>
          </div>
      </div>

  </fieldset>

  </form>

  </div>
  <!-- end widget content -->

  </div>
  <!-- end widget div -->

  </div>
  <!-- end widget -->



  </article>
  <!-- WIDGET END -->

  <!-- NEW WIDGET START -->

  <!-- WIDGET END -->

  </div>

  <!-- end row -->

  <!-- row -->



  </section>

  <!-- end widget grid -->


  </div>
