<section>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} API form</legend>

      <div class="form-group">
        <label>Name</label>
        <input name="name" type="text" ng-model="api.name" class="form-control" placeholder="Name">  {{error}}
      </div>
      <div class="form-group">
        <label>Method</label>
        <select ng-model="api.method">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="DELETE">DELETE</option>
        </select>
     </div>
     <div class="form-group">
       <label>Parameters</label>
       <textarea rows="4" cols="50" name="params" ng-model="api.fields"></textarea>
       <textarea rows="4" cols="50" ng-disabled='true'style="color:red">Example
         <script>
           var fieldobj='{"FieldName1":"Int","FieldName2":"String","FieldName3":"Any","FieldName4":"Email"}';
           JSON.stringify(fieldobj,null,4);
         </script>
       </textarea>
     </div>
       <div class="form-group">
        <label>Select App</label>
        <select
            ng-change="modelchange()"
            ng-disabled="isDisabled"
            ng-model="selectedmodel"
            ng-options="model as model.name for model in models"></select>
      </div>
      <div class="form-group">
        <label>Token Enable</label>
            <input type="checkbox" name="token" ng-model="api.token" ng-true-value=1 ng-false-value=0 ng-disabled="disabletoken" ng-checked="v">
      </div>
      <div class="form-group">
        <label>URI</label>
        <input name="uri" type="text" ng-model="api.uri">
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} API</button>
      </div>
    </fieldset>
  </form>

<section>
