<div id="content">
<!--<div class="row">
    <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
</div>-->


<!-- widget grid -->
<section id="widget-grid" widget-grid>

<!-- row -->
<div class="row">

<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-12">

<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
<!-- widget options:
usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

data-widget-colorbutton="false"
data-widget-editbutton="false"
data-widget-togglebutton="false"
data-widget-deletebutton="false"
data-widget-fullscreenbutton="false"
data-widget-custombutton="false"
data-widget-collapsed="true"
data-widget-sortable="false"

-->
<header>
    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
    <h2>{{action}} API form</h2>
</header>

<!-- widget div-->
<div>

<!-- widget content -->
<div class="widget-body">

<script type="text/javascript">
  $( document ).ready(function() {
    var fieldobj='{"FieldName1":"Int|Required","FieldName2":"String|Optional","FieldName3":"Any|Required","FieldName4":"Email|Optional"}';
    fieldobj=JSON.parse(fieldobj);
    example=JSON.stringify(fieldobj,null,2);
    $("#example").html(example);
  });
  /* End */

</script>
<form class="form-horizontal" ng-submit="submitForm()">

<fieldset>
    <div class="form-group">
        <label class="col-md-2 control-label">Name <span class="text-danger">*</span></label>
        <div class="col-md-5">
            <input name="name" type="text" ng-model="api.name" pattern='[A-Za-z\\s1-9]*' class="form-control" placeholder="Name" required>
        </div>
        <div class="col-md-5">
            <span class="help-block"><i class="{{apierroricon}}"></i>&nbsp;{{error}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Parameters </label>
        <div class="collumn">
        <div ng-jsoneditor="onLoad" configuration="config" class="col-md-5" ng-model="api.fields" options="obj.options" ></div>
        <span class="help-block"><i class="{{api.paramerroricon}}"></i>&nbsp;{{api.parameter}}</span>
        <div class="col-md-5" >
            <textarea class="form-control" id="example" rows="6.5" ng-disabled='true' ></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Method </label>
        <div class="col-md-5">
            <select class="form-control input-sm" ng-model="api.method">
              <option value="">--Select--</option>
              <option value="GET" selected="selected">GET</option>
              <option value="POST">POST</option>
              <option value="DELETE">DELETE</option>
            </select>
        </div>
        <div class="col-md-5">
            <span class="help-block"><i class="{{methoderroricon}}"></i>&nbsp;{{methoderror}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Content-Type </label>
        <div class="col-md-5">
            <select class="form-control input-sm" ng-model="api.content_type">
              <option value="">--Select--</option>
              <option value="json" selected="selected">Application/Json</option>
              <option value="xml">Application/Xml</option>
              <option value="form">Form Uriencoded</option>
            </select>
        </div>
        <div class="col-md-5">
            <span class="help-block"><i class="{{content_typeerroricon}}"></i>&nbsp;{{content_typeerror}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Select App <span class="text-danger">*</span></label>
        <div class="col-md-5">
            <select
                class="form-control input-sm"
                ng-change="modelchange()"
                ng-disabled="isDisabled"
                ng-model="selectedmodel"
                ng-options="model as model.name for model in models"></select>
        </div>
        <div class="col-md-5">
            <span class="help-block"><i class="{{modelerroricon}}"></i>&nbsp;{{modelerror}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Token Enable </label>
        <div class="col-md-10">
            <label class="checkbox-inline">
                <input type="checkbox" name="api.token" ng-model="api.token" ng-disabled="disabletoken" ng-checked="v" >
                 .</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">URI <span class="text-danger">*</span></label>
        <div class="col-md-5">
            <input name="uri" type="url" pattern="https?://.+" ng-model="api.uri" class="form-control" ng-trim="false" ng-change="api.uri = api.uri.split(' ').join('')" placeholder="http://uri/path/for/api" required>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
              <a data-ui-sref="app.all-apis">
                <button class="btn btn-default" type="submit">
                    Cancel
                </button>
              </a>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    {{action}}
                </button>
            </div>
        </div>
    </div>

</fieldset>

</form>

</div>
<!-- end widget content -->

</div>
<!-- end widget div -->

</div>
<!-- end widget -->



</article>
<!-- WIDGET END -->

<!-- NEW WIDGET START -->

<!-- WIDGET END -->

</div>

<!-- end row -->

<!-- row -->



</section>

<!-- end widget grid -->


</div>

<script type="text/javascript">
    $(function(){
        $('input[name="demo-switcher-1"]').change( function() {

            $(this).parent().addClass('active').siblings().removeClass('active');

            var styleClass = $(this).val();

            $('.demo-switcher-1 input[type="checkbox"]').removeClass().addClass("checkbox " + styleClass);

            $('.demo-switcher-1 input[type="radio"]').removeClass().addClass("radiobox " + styleClass);

        })

    })
</script>
