<div id="content">
  <!--<div class="row">
      <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                       class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
      <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>-->


  <!-- widget grid -->
  <section id="widget-grid" widget-grid>

  <!-- row -->
  <div class="row">

  <!-- NEW WIDGET START -->
  <article class="col-sm-12 col-md-12 col-lg-12">

  <!-- Widget ID (each widget will need unique ID)-->
  <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
  <!-- widget options:
  usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
      <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
      <h2>{{action}} AUTH form</h2>
  </header>

  <!-- widget div-->
  <div>

  <!-- widget content -->
  <div class="widget-body">

  <script type="text/javascript">
    $( document ).ready(function() {
      var fieldobj='{"FieldName1":"Int|Required","FieldName2":"String|Optional","FieldName3":"Any|Required","FieldName4":"Email|Optional"}';
      fieldobj=JSON.parse(fieldobj);
      example=JSON.stringify(fieldobj,null,2);
      $("#example").html(example);
    });
  </script>

  <form class="form-horizontal" ng-submit="submitForm()">
  <fieldset>
      <div class="form-group">
          <label class="col-md-2 control-label">Name <span class="text-danger">*</span></label>
          <div class="col-md-5">
              <input name="name" type="text" ng-model="api.name"   pattern='[A-Za-z\\s1-9]*' class="form-control" placeholder="Name" required>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label">Parameters <span class="text-danger">*</span></label>
          <div class="collumn">
          <div ng-jsoneditor="onLoad" configuration="config" class="col-md-5" ng-model="api.fields" options="obj.options" ></div>
          <span class="help-block"><i class="{{auth.paramerroricon}}"></i>&nbsp;{{auth.parameter}}</span>
          <div class="col-md-5" >
              <textarea class="form-control" id="example" rows="6.5" ng-disabled='true' ></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-2">Method <span class="text-danger">*</span></label>
          <div class="col-md-5">
              <select class="form-control input-sm" ng-model="api.method" required>
                <option value="">--Select--</option>
                <option value="POST" selected="selected">POST</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-2">Content-Type </label>
          <div class="col-md-5">
              <select class="form-control input-sm" ng-model="api.content_type" required="">
                <option value="">--Select--</option>
                <option value="json" selected="selected">Application/Json</option>
                <option value="xml">Application/Xml</option>
                <option value="form">Form Uriencoded</option>
              </select>
          </div>
          <div class="col-md-5">
              <span class="help-block"><i class="{{content_typeerroricon}}"></i>&nbsp;{{content_typeerror}}</span>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-2">Select App <span class="text-danger">*</span></label>
          <div class="col-md-5">
              <select
                  class="form-control input-sm"
                  ng-change="modelchange()"
                  ng-disabled="isDisabled"
                  ng-model="selectedmodel"
                  ng-options="model as model.name for model in models" ></select>
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{auth.apperroricon}}"></i>&nbsp;{{auth.app}}</span>
          </div>
      </div>

      <div class="form-group">
          <label class="col-md-2 control-label" required>Function Name<span class="text-danger">*</span></label>
          <div class="col-md-5">

              <input  id="fname" type="text" pattern='[A-Za-z\\s1-9]*' ng-model="auth.function_name" ng-trim="false" ng-change="auth.function_name = auth.function_name.split(' ').join('')"  ng-readonly="functioname"  class="form-control" placeholder="name" required>
          </div>
      </div>

      <div class="form-group">
          <label class="col-md-2 control-label" required>File <span class="text-danger">*</span></label>
          <div class="col-md-5">
            <fieldset>
                  <input nv-file-select uploader="uploader" type="file" accept=".js" id="fileInput"/>
                  <!-- <input  type="text" ng-model="fname" id="fname" ng-readonly="functioname"/> -->
                  <pre id="errorarea" ></pre>
                  <table class="table">
                      <thead>
                      <tr>
                          <th width="50%">Name</th>
                          <th ng-show="uploader.isHTML5">Size</th>
                          <th ng-show="uploader.isHTML5">Progress</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in uploader.queue">
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td ng-show="uploader.isHTML5" nowrap>{{
                              item.file.size/1024|number:2 }} KB
                          </td>
                          <td ng-show="uploader.isHTML5">
                              <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar"
                                       ng-style="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td class="text-center">
                              <span ng-show="item.isSuccess"><i
                                      class="glyphicon glyphicon-ok"></i></span>
                              <span ng-show="item.isCancel"><i
                                      class="glyphicon glyphicon-ban-circle"></i></span>
                              <span ng-show="item.isError"><i
                                      class="glyphicon glyphicon-remove"></i></span>
                          </td>
                          <td nowrap>
                              <button type="button" class="btn btn-success btn-xs"
                                      ng-click="item.upload()"
                                      ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="glyphicon glyphicon-upload"></span>
                                  Upload
                              </button>
                              <button type="button" class="btn btn-warning btn-xs"
                                      ng-click="item.cancel()"
                                      ng-disabled="!item.isUploading">
                                  <span class="glyphicon glyphicon-ban-circle"></span>
                                  Cancel
                              </button>
                              <button type="button" class="btn btn-danger btn-xs"
                                      ng-click="item.remove()">
                                  <span class="glyphicon glyphicon-trash"></span>
                                  Remove
                              </button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
            </fieldset>
              <!-- <input name="file" type="file" ng-model="auth.file" id="file" class="form-control"  required>
              <button ng-click="uploadfile()">Add</button> -->
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{auth.filerroricon}}"></i>&nbsp;{{auth.filerror}}</span>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label" >Strict Login Attempt </label>
          <div class="col-md-5">
              <input type="checkbox" name="restrict_login" ng-model="auth.restrict_login" ng-disabled="disableattempt"  ng-click="toggle_fields()">
          </div>
          <div class="col-md-5">
            <span class="help-block"><i class="{{auth.loginattempterroricon}}"></i>&nbsp;{{auth.loginattempterror}}</span>
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" >Maximum attempts</label>
          <div class="col-md-1">
              <input name="max_attempts" type="number" ng-model="auth.max_attempts" ng-disabled="disablemax_attempts"   min="1" max="20" class="form-control" placeholder="Number" required>
          </div>
          <label class="col-md-1 control-label" >Interval</label>
          <div class="col-md-1">
              <input name="attempt_interval" type="number" ng-model="auth.attempt_interval" ng-disabled="disableattempt_interval" min="1" max="100" class="form-control" placeholder="Mins" required>
          </div>
          <label class="col-md-1 control-label" >Blocking time</label>
          <div class="col-md-1">
              <input name="block_time" type="number" ng-model="auth.block_time" ng-disabled="disableblock_time"  class="form-control" min="5" max="1000" placeholder="Mins" required>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-2 control-label" >URI <span class="text-danger">*</span></label>
          <div class="col-md-5">
	      <input name="uri" type="url" pattern="https?://.+" ng-model="api.uri" class="form-control" ng-trim="false" ng-change="api.uri = api.uri.split(' ').join('')" placeholder="http://uri/path/for/api" required>

          </div>
      </div>
      <div class="form-actions">
          <div class="row">
              <div class="col-md-12">
                <a data-ui-sref="app.auth-list">
                  <button class="btn btn-default" type="submit">
                      Cancel
                  </button>
                </a>
                  <button class="btn btn-primary" type="submit">
                      <i class="fa fa-save"></i>
                      {{action}}
                  </button>
              </div>
          </div>
      </div>

  </fieldset>

  </form>

  </div>
  <!-- end widget content -->

  </div>
  <!-- end widget div -->

  </div>
  <!-- end widget -->



  </article>
  <!-- WIDGET END -->

  <!-- NEW WIDGET START -->

  <!-- WIDGET END -->

  </div>

  <!-- end row -->

  <!-- row -->



  </section>

  <!-- end widget grid -->


  </div>
