<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['Forms', 'Bootstrap Form Elements']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>-->


    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

    <!-- row -->
    <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">

    <!-- Widget ID (each widget will need unique ID)-->
    <div jarvis-widget id="wid-id-0" data-widget-colorbutton="true" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>{{action}} API Responsetime form</h2>
    </header>

    <!-- widget div-->
    <div>

    <!-- widget content -->
    <div class="widget-body">
    <form class="form-horizontal" ng-submit="submitForm()">

    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2">Select Api <span class="text-danger">*</span></label>
            <div class="col-md-5">

                <select
                    class="form-control input-sm"
                    ng-disabled="isDisabled"
                    ng-model="selectedapi"
                    ng-options="api as api.url for api in apis"></select>
            </div>
            <div class="col-md-5">
              <span class="help-block"><i class="{{apierroricon}}"></i>&nbsp;{{apierror}}</span>
           </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Time <span class="text-danger">*</span></label>
            <div class="col-md-5">
              <input name="duration" type="number" ng-model="responsetime.time" required>(milliseconds)
            </div>
            <div class="col-md-5">
              <span class="help-block"><i class="{{responsetimerroricon}}"></i>&nbsp;{{responsetimerror}}</span>
           </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                  <a data-ui-sref="app.all-responsetimes">
                    <button class="btn btn-default" type="submit">
                        Cancel
                    </button>
                  </a>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        {{action}}
                    </button>
                </div>
            </div>
        </div>

    </fieldset>

    </form>

    </div>
    <!-- end widget content -->

    </div>
    <!-- end widget div -->

    </div>
    <!-- end widget -->



    </article>
    <!-- WIDGET END -->

    <!-- NEW WIDGET START -->

    <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- row -->



    </section>

    <!-- end widget grid -->


    </div>
